.Main {
  margin: 32px 40px;
}
.Main-title {
  font-weight: 700;
}
.Contract-form {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}
.Contracts {
  color: #282828;
  display: flex;
  flex-wrap: wrap;
}
.Contract-createBtn {
  background-color: #e7b558;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 8px 20px;
  transition: all 0.3s;

  &:hover {
    background: #e3928f;
  }
}
.Contract-formInput {
  border-radius: 8px;
  border: 0;
  font-size: 13px;
  margin-top: 8px;
  outline: 0;
  padding: 8px 12px;

  &:first-child {
    margin-top: 0;
  }
}
.Contract {
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 240px;
  margin-right: 16px;
  padding: 20px;
  transition: all 0.3s;
  width: 180px;
  word-break: break-all;
  margin-bottom: 16px;
  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.02);
  }
}
.Contract-content {
  flex-grow: 1;
}
.Contract-contentTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2px;
}
.Contract-contentObject {
  color: #81755e;
  font-size: 14px;
}
.Contract-addr {
  color: #333;
  flex: 0 0;
  font-family: "Roboto Mono";
  font-size: 13px;
  font-weight: 500;
}
.Main--container {
  justify-content: center;
  height: 100%;
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.Main--buttonContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
}
